:root{
    --clr1: #333333;
    --clr2: white;
    --clr3: red;
    --clr4: ;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat",sans-serif;
}
header{
    position: sticky;
    top: 0;
    background-color: var(--clr1);
    padding: 1rem;
}
ul{
    transition-delay: 0.3s;
    display: flex;
    gap: 0 1rem;
    justify-content: end;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    padding: 0.5rem;
    background-color: var(--clr2);
    color: var(--clr3);
    text-decoration: none;
    border-radius: 10px;
    transition: 0.6s;
}
nav ul li a:hover{
    background-color: var(--clr1);
    color: var(--clr2);
}
main .hero{
    display: flex;
    overflow: hidden;
}
main .heroSection{
    width: 100%;
    height: 100vh;
    background-image: url("pho1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
}
main .heroSection h1{
    color: var(--clr3);
    background-color: var(--clr2);
    border-radius: 10px;
    padding: 0.25rem;
    transition-delay: 0.4s;
}
main .heroSection button{
    transition-delay: 0.4s;
    position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: none;
    font-weight: bolder;
    font-size: 2rem;
    transition: 0.5s;
    
}
main .heroSection .larr{
    left: 5%;
}
main .heroSection .rarr{
   right: 5%;
}
main .heroSection button:hover{
    background-color: var(--clr1);
    color: var(--clr2);
}